<div class="card">
  <div class="card-reader">
    Add New FAQ
  </div>
  <div class="card-block">
    <form (submit)="addQuestion()"#questionForm>
      <div class="form-group">
        <label for="text">Question Text</label>
        <input
         placeholder="Enter question text" 
         required 
         type="text" 
         class="form-control"
         #questionText = "ngModel"
         ngModel name = "questionText"
         [(ngModel)]="text" name="text">
         <div
         *ngIf="!questionText.valid && questionText.touched" 
         class="alert alert-danger">
         <div *ngIf="questionText.errors.required">Question Text is required.</div>
        </div>
         <div class="form-group">
      </div>
      
        <label for="text">Question Answer</label>
        <input 
        placeholder="Enter question answer"
        type="text" 
        class="form-control" 
        [(ngModel)]="answer" 
        name="answer"
        required
        #questionAnswer = "ngModel"
        ngModel name = "questionAnswer">
        <div
        *ngIf="!questionAnswer.valid && questionAnswer.touched"
        class="alert alert-danger">
        <div *ngIf="questionAnswer.errors.required">Question answer is required.</div>
        </div>

      </div>
      <button
      [disabled]="questionText.invalid || questionAnswer.invalid"
      type="submit" 
      class="btn btn-primary">Submit</button>
      <button
      (click)="clearFields()"
      [disabled]="questionText.invalid && questionAnswer.invalid" 
      class="btn btn-warning">Clear</button>
    </form>
  </div>
</div>